body {
  background-color: #282828;
  text-align: center;
  color: white;
  font-family: Titillium Web;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2em;
}

h3 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

p {
  text-align: center;
}

#data-container {
  min-width: 80%;
  max-width: 100%;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.filter-container button{
  margin-left: 15px;
}

.filter-container input {
  flex: 1 1 200px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  background-color: rgb(60, 60, 60);
  color: white;
}

.filter-container input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}

table {
  border-collapse: separate; 
  border-spacing: 0;
  border: 1px solid rgb(100,100,100);
  border-radius: 16px;
  overflow: hidden; 
  min-width: 85%;
  max-width: 100%;
  margin: 18px auto;
}

/*Linee verticali*/
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid rgb(100,100,100);
}

/*Linee orizzontali*/
tr:not(:last-child) > th,
tr:not(:last-child) > td {
    border-bottom: 1px solid rgb(100,100,100);;
}

th {
  background-color: slategray;
  color: white;
  text-align: center;
  padding: .7vw;
}

td {
  padding: .7vw;
  background-color: #282828;
  color: white;
}

tr:nth-child(even) td {
  background-color: rgb(60, 60, 60);
}

@media (max-width: 768px) {
  .filter-container input{
      margin-top: 5px;
  }

  .filter-container button{
    margin-top: 75%;
  }
  #data-container {
    overflow-x: scroll;
  }
}

button {
  background-color: rgb(60, 60, 60);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: orange;
}

header {
  font-size: 67%;
  background-color: #333;
  padding: 0px 0px;
  align-items: start;
  width: 100%;
  border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}
nav {
    text-align: center;
}
nav.index{
    display: flex;
    min-height: 51px;
}
nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}
 
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
  
nav ul li a:hover {
    text-decoration: underline;
}
input::placeholder {
  color: white;
}
.immagine{
  display: flex;
  justify-content: center;
}
img{
  margin-top: 10px;
  width: 150px;
}